@import "tailwindcss";

:root {
  --color-gray-100: #FFFFFF;
  --color-gray-200: #FFFFFE;
  --color-gray-300: #F6F5F4;
  --color-gray-400: #F1F0EF;
  --color-gray-500: #ECEBEA;
  --color-gray-600: #373737;
  --color-gray-700: #2A2A2A;
  --color-gray-800: #242424;
  --color-gray-900: #000000;
  --color-blue-900: #121F3E;
  --color-blue-500: #0000EE;
}
@media (min-width: 1024px) { /* Target large screens (lg:grid-cols-3) */
  .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  /* If there are only two items in the last row, center them */
  .cards > :nth-last-child(2):nth-child(odd) {
    grid-column: 2 / span 2; /* Move the second last item to start from column 2 */
  }
}

